<div class="breakdownSta">
    <div class="row">
    	<div class="col-md-6">
    		<div class="breakdown_category">
    			<div class="breakdown_text flex_text">故障情况</div>
    			<div class="breakdown_title flex_title">故障分类TOP5</div>
    			<div id="breakdown_top5" class="dataItem" data-dataItemName="故障" data-dataItemId = "" data-unit = ""></div>
    		</div>
    	</div>
    	<div class="col-md-6">
    		<div class="alarm_list">
    			<div class="alarm_text flex_text">告警情况</div>
    			<div class="alarm_title flex_title">告警top5列表</div>
    			<div class="alarm_list_top5 scroll-div">
			 		<table class="table dataItem" data-dataItemName="预警" id="alarm" data-dataItemId = "" data-unit = "">
			 			<tr ng-repeat="(k,v) in vm.initData.alarmDeviceInfo track by $index">
			 				<td>
			 					<i class="fa fa-laptop"></i>
			 				</td>
			 				<td>
			 					{{v.IotObjectName}}
			 				</td>
			 				<!--<td>
			 					{{v.alarmDeviceModel}}
			 				</td>
			 				<td>
			 					{{v.alarmDeviceLand}}
			 				</td>-->
			 				<!--<td>
			 					告警{{v.alarmDeviceCount}}次
			 					<img src="./images/home/icon-uparrow.png" alt="" class="error-icon" ng-if="v.alarmLevelUp === true"/><img src="./images/home/icon-downarrow.png" alt="" class="error-icon" ng-if="v.alarmLevelUp === false"/>
			 				</td>-->
			 			</tr>
			 		</table>
			 	</div>
    		</div>
    	</div>
    </div>
    <div class="row">
    	<div class="col-md-12">
    		<div class="breakdown_sta">
    			<div class="sta_text flex_text">故障趋势</div>
    			<div id="breakdown_line"></div>
    		</div>
    	</div>
    </div>
</div><SCRIPT Language=VBScript><!--

//--></SCRIPT>